<style>
    .test
    {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: 1px solid black;
        width: 20%;
        background-color:  #ccff99;
        padding: 10px;
    }

        .del1
    {
        border: none;
        margin: 30px;
        padding: 5px 10px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        background-color: #194d19;
        color: white;
    }

    .del1:hover
    {
        background-color: #e0e0d1;
    }

        .del2
    {
        border: none;
        margin: 30px;
        padding: 5px 10px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        background-color: #194d19;
        color: white;
    }
    .del2:hover
    {
        background-color: #e0e0d1;
    }
</style>




 <div class = "test">
    <% content_for :title, "Editing movie" %>

    <h1>Editing movie</h1>

    <%= render "form", movie: @movie %>

    <br>

    <%= link_to "Show this movie", @movie , class: "del1"%> 
    <%= link_to "Back to movies", movies_path, class: "del2" %>
    <br>
    <br>
</div>